.container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.logo {
    width: 110px;
    height: 70px;
}

.loader {
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    animation: rotation 1s infinite linear;
}

.no-data {
    left: 50%;
    top: 45%;
    transform: translate(-45%, -50%);
    position: absolute;
    color: #fff;
    font-size: 20px;
    z-index: 1;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.item-container {
    border: 1px solid #fff;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    border: none;
}

.item-container-grass {
    background: #00bf8f;
    background: -webkit-linear-gradient(to bottom, #00bf8f, #001510);
    background: linear-gradient(to bottom, #00bf8f, #001510);
}

.item-container-fire {
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #e74c3c, #000000);
    background: linear-gradient(to bottom, #e74c3c, #000000);
}

.item-container-water {
    background: #2b5876;
    background: -webkit-linear-gradient(to bottom, #4e4376, #2b5876);
    background: linear-gradient(to bottom, #4e4376, #051520);
}

.item-container-poison {
    background: #AA076B;
    background: -webkit-linear-gradient(to bottom, #61045F, #AA076B);
    background: linear-gradient(to bottom, #61045F, #AA076B);
}

.item-container-normal {
    background: #603813;
    background: -webkit-linear-gradient(to top, #603813, #b29f94);
    background: linear-gradient(to top, #603813, #b29f94);
}

.item-container-wind {
    background: #314755;
    background: -webkit-linear-gradient(to top, #314755, #26a0da);
    background: linear-gradient(to top, #314755, #26a0da);
}

.item-container-rock {
    background: #536976;
    background: -webkit-linear-gradient(to top, #536976, #BBD2C5);
    background: linear-gradient(to top, #536976, #BBD2C5);
}

.item-container-psychic {
    background: #636363;
    background: -webkit-linear-gradient(to top, #636363, #a2ab58);
    background: linear-gradient(to top, #636363, #a2ab58);
}

.item-container-dragon {
    background: #200122;
    background: -webkit-linear-gradient(to bottom, #6f0000, #200122);
    background: linear-gradient(to bottom, #6f0000, #200122);
}

.item-container-special {
    background: #093637;
    background: -webkit-linear-gradient(to bottom, #44A08D, #093637);
    background: linear-gradient(to bottom, #44A08D, #093637);
}

.item-container-electric {
    background: #BA8B02;
    background: -webkit-linear-gradient(to bottom, #181818, #BA8B02);
    background: linear-gradient(to bottom, #181818, #BA8B02);
}


.item-container:hover {
    width: 300px;
    height: 300px;
}

.image-container {
    position: absolute;
}

.image-body {
    position: absolute;
    width: 150px;
    height: 150px;
    animation: myAnim 1s ease 0s 1 normal forwards;
    transition: width 2s, height 2s, transform 2s;
}

.image-body:hover {
    width: 180px;
    height: 180px;
    transform: rotate(180deg);
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-body {
    width: 30px;
    height: 30px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #fff;
}

.top-left {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: #fff;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0.3;
    text-align: center;
}

.centered .centered-text {
    font-size: 80px;
}

.midd {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}