.container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.logo {
    width: 110px;
    height: 70px;
    /* animation: myAnim 1s ease 0s 1 normal forwards; */
}

.item-container {
    border: 1px solid #fff;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    border: none;
}

.item-container-grass {
    background: #00bf8f;
    background: -webkit-linear-gradient(to bottom, #00bf8f, #001510);
    background: linear-gradient(to bottom, #00bf8f, #001510);
}

.item-container-fire {
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #e74c3c, #000000);
    background: linear-gradient(to bottom, #e74c3c, #000000);
}

.item-container-water {
    background: #2b5876; 
    background: -webkit-linear-gradient(to bottom, #4e4376, #2b5876);  
    background: linear-gradient(to bottom, #4e4376, #051520); 
}



.item-container:hover {
    width: 300px;
    height: 300px;
}

.image-container {
    position: absolute;
}

.image-body {
    position: absolute;
    width: 150px;
    height: 150px;
    animation: myAnim 1s ease 0s 1 normal forwards;
    transition: width 2s, height 2s, transform 2s;
}

.image-body:hover {
    width: 180px;
    height: 180px;
    transform: rotate(180deg);
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-body {
    width: 30px;
    height: 30px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.midd {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}